html {
	margin-top: 0px !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	position: relative;
}
#wpadminbar, #comments  {
	display: none !important;
}
#mini-logo {
	padding: 0;
}
#mini-logo a h1 {
	color: #01A3B2;
	font-family: 'Raleway',sans-serif;
	font-size: 20px;
	font-weight: 800;
	margin: 0;
	text-transform: uppercase;
}
#mini-logo a#mini-link {
	text-decoration: none !important;
}
#post-2 header {
	position: relative;
	z-index: 1;
	background-color: #000000;
}
#post-2 header h1 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 6vmin;
	margin-bottom: 0;
	margin-top: 0;
	padding: 20px 0;
	font-weight: 800;
}
h1.entry-title {
	font-family: 'Quicksand',sans-serif;
	font-weight: 700;
	color: #01A3B2
}
#full-width h1, #full-width h2 {
	font-weight: 700;
}
#staff-desc h3 {
	color: #000000;
}
#we-think-different h2, #we-think-different h3, #we-think-different p {
	color: #FFFFFF;
}
h2.section-title  {
	font-family: 'Raleway',sans-serif;
	text-transform: uppercase;
	font-weight: 800;
}
.wpcf7-submit:hover {
	background-color: #FFFFFF !important;
	color: #D5C072 !important;
}
